
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Raleway;
    font-size: 14px;
}

.parent{
    display: flex;
    flex-direction: column;
    background-color: hsl(229, 57%, 11%);
}

.bg{
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin-top: 50vh;
}

.container{
    width: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.left-box{
    background-color: hsl(228, 56%, 26%);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-block: 40px;
    padding-left: 35px;
    border-radius: 5px 80px 5px 5px;
}

.bottom{
    display: flex;
    gap: 15px;
}

.store{
    width: 40px;
    border-radius: 8px;
    padding: 10px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-box{
    width: 60%;
    position: relative;
}

.store-left{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
    position: absolute;
    z-index: 2;
    right: 25px;
    border-top-left-radius: 8px;  
    border-top-right-radius: 8px;  
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 0; 
    /* clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 30px) calc(100% - 30px) 100%, 0 100%, 0 8px ); */
}
.store-left p{
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.store-used{
    width: 100%;
    background-color: hsl(228, 56%, 26%);
    color: hsl(243, 100%, 93%);
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    gap: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
}

.progress-bar{
    background-color: hsl(229, 57%, 11%);
    height: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress{
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 80%;
    width: 70%;
    border-radius: 10px;
    padding-block: 2px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 2px;
}

.progress-point{
    margin-right: 2px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: hsl(0, 0%, 97%);
}

.range{
    display: flex;
    justify-content: space-between;
}


  .attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -25%);
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    color: white;
  }



  @media (max-width:767px) {
    .parent{
         background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    }
    .container{
        width: 90%;
        flex-direction: column;
        margin-inline: auto;
        gap: 170px;
    }
    .left-box{
        width: 100%;
    }
    .right-box{
        width: 100%;
    }
    .store-left{
        bottom: -30px;
        right: 90px;
        border-bottom-right-radius: 8px;
    }
    .attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -25%);
  }
  }/* 
  @media (max-width:375px) {
    .parent{
        display: none;
    }
    .container{
        width: 100%;
        flex-direction: column;
    }
    .left-box{
        width: 90%;
    }
    .right-box{
        width: 90%;
    }
    .store-left{
        bottom: -25px;
    }
  }
 */

